<h1>Deleted Posts</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th class="col-sm-6">Judul</th>
      <th class="col-sm-1">Kategori</th>
      <th class="col-sm-2">Penulis</th>
      <th class="col-sm-3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% if @posts.count == 0 %>
    <tr>
      <td colspan="4">Tidak ada data yang terhapus</td>
    </tr>
    <% else %>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td><%= post.category.label %></td>
          <td><%= post.user.nama %></td>
          <td><%= link_to 'Restore', post_restore_path(post.id), method: :post, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Post List', posts_path, class:'btn btn-primary' %>